---
---
{% include header.html %}
<div class="background">
  <video autoplay muted loop poster="{{ site.baseurl}}/assets/video/background-still.jpg">
    <source src="{{ site.baseurl}}/assets/video/background.mp4" type="video/mp4">
  </video>
</div>

<div class="container">
  <div class="background-image" style="background-image: url({{ site.baseurl}}/assets/video/background-still.jpg);">
  </div>
  <div class="introduction" style="background-image: url({{ site.baseurl}}/assets/images/bovenland-stip.svg);">
<!--     <p class="announce">
      Vanaf najaar 2020
    </p> -->
    <img class="logo" src="{{ site.baseurl }}/assets/images/bovenland-logo.svg" />
    <p class="text">
      Een visuele en cartografische ontdekkingsreis waarin we onderzoeken wat Nederland tot Nederland maakt.
    </p>
    <ul class="bert-en-jenny small">
      <li>
        <a href="https://docsandtales.com/">
          <img src="{{ site.baseurl }}/assets/images/jenny-masked.png" />
          <h3>Jenny Smets</h3>
        </a>
        <p>Visuele verhalen &amp; verbeelding</p>
      </li>
      <li>
        <a href="https://bertspaan.nl">
          <img src="{{ site.baseurl }}/assets/images/bert-masked.png" />
          <h3>
            Bert Spaan
          </h3>
        </a>
        <p>Cartografie, data &amp; technologie</p>
      </li>
    </ul>

    <div class="stimuleringsfonds-inline">
      <a href="https://stimuleringsfonds.nl/nl/toekenningen/bovenland/5890/">
        <img src="{{ site.baseurl }}/assets/images/stimuleringsfonds-black.svg" />
      </a>
    </div>

    <div class="stimuleringsfonds-corner">
      <a href="https://stimuleringsfonds.nl/nl/toekenningen/bovenland/5890/">
        <img src="{{ site.baseurl }}/assets/images/stimuleringsfonds-white.svg" />
      </a>
    </div>
  </div>
</div>

{% include footer.html %}
