<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8' />
  <title>Boven.land</title>
  <meta property="og:title" content="{{ site.title }}"/>
  <meta property="og:site_name" content="{{ site.title }}">
  <meta property="og:description" content="{{ site.description }}">
  <meta name="description" content="{{ site.description }}"/>
  <!-- Open Graph og:image 1200 x 630 -->
  <meta property="og:image" content="{{ site.url }}/assets/images/open-graph.jpg"/>
  <meta property="og:url" content="{{ site.url }}/"/>
  <meta property="og:type" content="website" />
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  <link href="{{ site.baseurl }}/style.css" rel="stylesheet">
  <link rel="shortcut icon" type="image/png" href="{{ site.baseurl }}/favicon.png"/>
  <link href="https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
